body {
  display: grid;
  font-family: 'Roboto Slab', serif;
}

a {
  text-decoration: none;
  color: #0074D9;
  transition: color 200ms ease-in-out;
}
a:hover, a:active {
  text-decoration: underline;
  color: #0059a6;
}

.header {
  background-color: #FF851B;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  color: #663000;
}
.header a {
  color: #663000;
}

.container {
  padding: 40px;
}

h1 {
  margin-top: 0;
  margin-bottom: 10px;
}

h2 {
  margin-top: 0;
  margin-bottom: 1em;
  font-weight: normal;
}

p {
  margin-top: 0;
  margin-bottom: 10px;
}

.subhead {
  font-size: 20px;
}
